@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
*{
    font-family: "Nunito", sans-serif;
}
a.active hr,
a:hover hr{
    display: block;
    animation: width0 1s ease ;
}
@keyframes width0{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: calc(3/4 * 100%);
    }
}
@media (max-width:640px){
    a.nav-link.active ,
    a.nav-link:hover{
        background: #000;
        color: #fff;
    }
}

.images-scroll::-webkit-scrollbar{
    display: none;
}